.appBar {

}

.toolbar {
  flex-wrap: 'wrap';
}

.toolbarTile {
  flex-grow: 1;
}

.link {
  text-decoration: none;
  font-size: 18px;
}

.activeLink {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}
